<!-- views/partials/footer.ejs -->

<footer class="site-footer">
<span class="nomobile">Sugar Dada is for educational purposes only. </span>Past performace is not a reliable indicator of future results. <span class="mobile-break">Always consult a licensed advisor before investing.</span>
</footer>
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "q96arg387j");
</script>