<!-- views/partials/header.ejs -->

<header class="site-header">
  <div class="theme-toggle" id="themeToggle" aria-label="Toggle Theme">
    <img src="/images/sugardada.svg" id="themeIcon" alt="" aria-hidden="true" />
  </div>

  <div class="site-name">
    <a href="/" class="site-name-link">Sugar Dada</a>
  </div>
</header>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Radley&family=Roboto&display=swap" />

<script src="/js/theme.js" defer></script>
<script src="/js/interactions.js" defer></script>