<!-- views/partials/header.ejs -->

<header class="site-header">
  <!-- Theme Toggle Icon -->
  <div class="theme-toggle" id="themeToggle" aria-label="Toggle Theme">
    <i class="fa-solid fa-circle-half-stroke" id="themeIcon" aria-hidden="true"></i>
  </div>

  <!-- Site Name with Link to Homepage -->
  <div class="site-name">
    <a href="/" class="site-name-link">Sugar Dada</a>
  </div>
</header>

<!-- Preconnect to Font Awesome for faster icon loading -->
<link rel="preconnect" href="https://kit.fontawesome.com" crossorigin>

<!-- Include Font Awesome and Google Fonts -->
<!-- Font Awesome for icon -->
<script
  src="https://kit.fontawesome.com/85fdb652b6.js"
  crossorigin="anonymous"
  defer
></script>

<!-- Google Fonts: Radley for site name, Roboto for normal text -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Radley&family=Roboto&display=swap"
/>

<!-- Include Theme Toggle Script and Interactions Script -->
<script src="/theme.js" defer></script>
<script src="/interactions.js" defer></script>