<header class="site-header">
  <div class="theme-toggle" id="themeToggle">
    <img src="/images/sugardada.svg" id="themeIcon" alt="" />
  </div>
  <div class="site-name">
    <a href="/" class="site-name-link">Sugar Dada</a>
  </div>
  <button class="header-cta" id="headerCTA">Start Today</button>
</header>

<link rel="stylesheet" href="/styles.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Radley&family=Roboto&display=swap" />

<script src="/js/theme.js" defer></script>
<script src="/js/interactions.js" defer></script>