<!-- views/partials/header.ejs -->

<header class="site-header">
<link rel="preconnect" href="https://kit.fontawesome.com" crossorigin>
  <!-- Theme Toggle Icon -->
  <div class="theme-toggle" id="themeToggle" aria-label="Toggle Theme">
    <i class="fa-solid fa-circle-half-stroke" id="themeIcon" aria-hidden="true"></i>
  </div>

  <div class="site-name">
    <a href="/" class="site-name-link">Sugar Dada</a>
  </div>
</header>

<script src="https://kit.fontawesome.com/85fdb652b6.js" crossorigin="anonymous" defer></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Radley&family=Roboto&display=swap" />

<script src="/theme.js" defer></script>
<script src="/interactions.js" defer></script>