<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <title>Onboarding: Sugar Dada</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/header') %>

  <div class="wrapper">
    <div class="question"></div>

    <% if (errors.length > 0) { %>
      <ul class="error">
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <form action="/onboarding/1" method="POST" class="form">
      <div class="radio-group">
        <input type="radio" id="boy" name="babyGender" value="Boy" <% if (oldInput.babyGender === 'Boy') { %>checked<% } %> required>
        <label for="boy">Boy</label>

        <input type="radio" id="girl" name="babyGender" value="Girl" <% if (oldInput.babyGender === 'Girl') { %>checked<% } %> required>
        <label for="girl">Girl</label>
      </div>
    </form>
  </div>

  <!-- Include Footer Partial -->
  <%- include('partials/footer') %>
</body>
</html>