<!DOCTYPE html>
<html lang="en" class="home-page" data-theme="dark">
<head>
  <meta charset="UTF-8" />
  <title>Home: Sugar Dada</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="description" content="A simple way for parents to invest in their child’s future through small, consistent investment that grow over time. Easy setup, long-term benefits.">
  <meta property="og:title" content="Sugar Dada" />
  <meta property="og:description" content="A simple way for parents to invest in their child’s future through small, consistent investment that grow over time. Easy setup, long-term benefits." />
  <meta property="og:image" content="https://sugardada.app/images/og.image.jpg" />
  <meta property="og:url" content="https://www.sugardada.app" />
  <meta name="twitter:card" content="summary_large_image">
</head>
<body class="home-page">
  <%- include('partials/header') %>

<section class="hero-section" id="heroSection">
    <div class="hero-content">
		<p class="parents">Parents:</p>
      <div class="title-wrapper">
        <h1 class="hero-title" id="heroTitle">The best time to start investing <span class="line-break">was yesterday</span></h1>
        <div id="varaContainer"></div>
        <div id="caretContainer">
          <canvas id="caretCanvas"></canvas>
        </div>
      </div>
    <p class="hero-subtitle margin-200">It’s never too late to give your baby's future <span class="mobile-break">a head start.</span></p>
    <button class="cta-button" id="heroCTA">Build a Plan</button>
  </div>
  <!-- <div class="lottie-right">
	  <dotlottie-wc src="https://lottie.host/ee71f35d-733a-48e5-afa4-5d715c583846/xlYD7pd3hz.lottie" class="lottie" autoplay loop></dotlottie-wc>
  </div>
  <div class="lottie-left">
	  <dotlottie-wc src="https://lottie.host/88eb1fce-7c60-4856-8d18-075008277775/nvayeds7hU.lottie" class="lottie" autoplay loop></dotlottie-wc>
  </div> -->
</section>

<section class="section-2 compound-interest">
  <h2>The Magic of Compound Interest Over 18 Years <span>🪄</span></h2>
  <p class="hero-subtitle mobile-height">
    No need to start with a big lump sum.<br>
    Compound interest grows exponentially, turning small investments
    into significant returns over time.<br>
    It’s the perfect approach for long-term investing.
  </p>

  <div class="ci-bar-container">
    <span class="label-left"><span class="symbol-blue">$</span><span id="contrEl">1,000</span></span>
    <span class="year-mid" id="yearEl">2025</span>
    <span class="label-right"><span class="symbol-green">$</span><span id="interestEl">40</span></span>
	<span class="legend-left">Investment</span>
	<span class="legend-right">Returns</span>
    <div class="ci-bar">
      <div class="bar-contr" id="barContr"></div>
      <div class="bar-interest" id="barInterest"></div>
    </div>
  </div>
</section>

<section class="section-4" id="section4">
  <div class="bg-contribution"></div>
  <div class="bg-interest"></div>
  <div class="section-inner">
    <h2>Set It and Forget It</h2>
    <p>
      Creating a plan takes less than 90 seconds.<br>
      Once you're set up, it grows on autopilot—because parenting is already enough work.
    </p>
  </div>
</section>

<section class="section-5">
  <div class="section-inner">
    <h2>Simple, Proven, and Timeless</h2>
    <p class="hero-subtitle margin-100">
      This isn’t a new concept, and there’s no AI buzzword here.<br/>It’s just 
      tried-and-true investing strategies made accessible to young parents.
    </p>
    <button class="cta-button show" id="sectionCTA">Build a Plan</button>
  </div>
</section>

  <%- include('partials/footer') %>

  <script src="/js/number-flow-lite.js"></script>
  <script src="https://unpkg.com/roughjs@latest/bundled/rough.js"></script>
  <script src="https://unpkg.com/vara"></script>
  <!-- <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.3.0/dist/dotlottie-wc.js" type="module"></script> -->
  <script src="/js/homeInteractions.js"></script>
</body>
</html>