<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <title>Home: Sugar Dada</title>
  <!-- Viewport Meta Tag for Responsive Design -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <!-- Include Header Partial -->
  <%- include('partials/header') %>

    <!-- Link/Button to Start Onboarding --><br><br><br>
    <h1><a href="/onboarding/1">Start Onboarding</a></h1>
  </div>

  <!-- Include Footer Partial -->
  <%- include('partials/footer') %>
</body>
</html>