<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8" />
  <title>Onboarding: Sugar Dada</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
</head>
<body>
  <%- include('partials/header') %>

  <div class="wrapper">
    <div class="question"></div>

    <% if (errors.length > 0) { %>
      <ul class="error">
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <form action="/onboarding/4" method="POST" class="form" data-question="How much would you invest monthly?">
	<div class="subtitle">Don't put all your sugar in one basket</div>
    <div class="input-container">
      <textarea
	    type="number"
		inputmode="numeric"
		enterkeyhint="done"
        name="monthlyInvestment"
		maxlength="6"
		pattern="[0-9]*"
        rows="1"
        required
      >$ </textarea>
      <button type="submit" class="submit-button">➜</button>
	  </div>
	  <div class="hint nomobile">Press Return to continue</div>
    </form>
  </div>

  <%- include('partials/footer') %>
</body>
</html>