<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8" />
  <title>Onboarding: Sugar Dada</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <%- include('partials/header') %>

  <div class="wrapper">
    <div class="question"></div>

    <% if (errors.length > 0) { %>
      <ul class="error">
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <form action="/onboarding/5" method="POST" class="form" data-question="What level of risk are you comfortable taking when investing for <%= babyName %>'s future?">
      
      <div class="subtitle">With more risk comes the potential <span class="mobile-break">for greater returns</span></div>

      <div class="radio-group">
        <label>
          <input type="radio" name="riskLevel" value="Low" required>
          Low
        </label>
        <label>
          <input type="radio" name="riskLevel" value="Medium">
          Medium
        </label>
        <label>
          <input type="radio" name="riskLevel" value="High">
          High
        </label>
      </div>

    </form>
  </div>

  <%- include('partials/footer') %>
</body>
</html>