/* public/styles.css */

:root {
  /* Light Theme Variables */
  --bg-color: #ffffff;
  --text-color: #000000;
  --disclaimer-color: #666666;
  --label-bg: #ddd;
  --label-hover: #ccc;
  --label-checked: #bbb;
  --input-bg: #f9f9f9;
  --error-bg: #ffe5e5;
  --error-border: #ffcccc;
  --error-text: #cc0000;
  --selected-label-text: #ffffff;
}

:root[data-theme="dark"] {
  /* Dark Theme Variables */
  --bg-color: #000000;
  --text-color: #ffffff;
  --disclaimer-color: #888888;
  --label-bg: #333333;
  --label-hover: #666666;
  --label-checked: #555555;
  --input-bg: #444444;
  --error-bg: #660000;
  --error-border: #990000;
  --error-text: #ff6666;
  --selected-label-text: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  box-sizing: border-box;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 1rem;
  z-index: 9999;
  justify-content: flex-start;
}

.theme-toggle {
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-name {
  font-family: 'Radley', serif;
  font-size: 1.5rem;
  color: var(--text-color);
}

.site-name-link {
  text-decoration: none;
  color: var(--text-color);
}

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: var(--disclaimer-color);
  font-size: 0.7rem;
  line-height: 1.2;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 1rem;
  border-radius: 8px;
}

.dob-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
  margin-top: 1rem;
}

.question {
  font-family: 'Radley', serif;
  font-size: 1.5rem;
  min-height: 3rem;
  word-wrap: break-word;
  color: var(--text-color);
}

.subtitle {
  font-size: 1rem;
  color: var(--disclaimer-color);
  margin-bottom: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.error {
  list-style: none;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--error-bg);
  border: 1px solid var(--error-border);
  border-radius: 4px;
  color: var(--error-text);
  animation: fadeIn 0.5s ease-in-out;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.form.show {
  opacity: 1;
  transform: translateY(0);
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.form label {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: var(--label-bg);
  border-radius: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  margin: 0.5rem;
  color: var(--text-color);
}

.form label:hover {
  background: var(--label-hover);
}

.form input[type="radio"] {
  display: none;
}

.form input[type="radio"]:checked + label {
  background: var(--label-checked);
  color: var(--selected-label-text);
}

.form textarea {
  display: block;
  width: 150px; 
  line-height: 1.2;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  background: var(--input-bg);
  color: var(--text-color);
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1.3rem;
  margin: 0 auto 0.5rem auto;
  transition: background 0.2s;
  box-sizing: border-box;
}

.form textarea:hover {
  background: var(--label-hover);
}

.form textarea:focus {
  outline: none;
  background: var(--label-hover);
}

select {
  background: var(--label-bg);
  color: var(--text-color);
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 2rem 0.8rem 1.3rem;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: background 0.2s;
  appearance: none; 
}

select:hover {
  background: var(--label-hover);
}

select:focus {
  outline: none;
  background: var(--label-checked);
}

.hint, .card-hint {
  color: var(--disclaimer-color);
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem;
}

@media (max-width: 800px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card:hover .card-hint {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}

.card {
  background: var(--label-bg);
  color: var(--text-color);
  border-radius: 1rem;
  max-width: 240px;
  min-height: 120px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.card.card-enter {
  opacity: 1;
  transform: translateY(0);
}

.card-title {
  font-family: 'Radley', serif;
  font-size: 1rem;
  white-space: nowrap;
  margin: 0.5rem 0;
}

.card-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}

.card-value {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
}

.card-hint {
	position: absolute;
	bottom: 1rem;
	white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s;
}

.card:hover .card-hint, .hint-visible {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.hint-visible {
	left: 92px;
}

.card-clickable {
  cursor: pointer;
}

.tap-animate {
  transform: translateY(-5px)!important;
  transition: transform 0.15s ease !important;
}

@media (max-width: 480px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .card {
    min-width: 160px;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-value {
    font-size: 1.5rem;
  }
  .card-hint {
      white-space: normal;
	  font-size: 0.6rem;
      word-wrap: break-word;
      text-align: center;
      max-width: 100%;
      visibility: visible !important;
      opacity: 1 !important;
  }
  .hint-visible {
  	left: 38%;
  }
}

.theme-toggle img {
  width: 36px;
  height: 36px;
}
:root[data-theme='dark'] .theme-toggle img {
  filter: brightness(0) invert(1);
}